*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
    cursor: pointer;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    background-image: url(images/1.jpg);
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 5px 10px 20px rgba(0, 0, 0,0.6);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    width: 70%;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 30px;
}

header h1{
    display: flex;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}

ul li{
    display: inline-block;
    list-style-type: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

ul li:hover{
    color: #fff;
}

img{
    border-radius: 50%;
    width: 30px;
}

section{
    display: flex;
}

.side1{
    width: 70%;
}

.header1{
    text-transform: uppercase;
    font-weight: 900;
    margin: 30px 0;
}

.para1{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
}

.para2{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 20px 0;
}

.submit{
    background: #000;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    transition: .4s ease-in-out;
}

.submit:hover{
    background-color:#fff ;
    color: #000
}

.icon{
    position: absolute;
    bottom: 60px;
}

ion-icon{
    color: #fff;
    font-size: 25px;
    margin: 10px;
}