*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    background: red;
}

.content-container{
    max-width: 520px;
    border-radius: 5px;
    background: #fff;
}